/* Шапка */
.header {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	padding: 92px 50px 96px;
}

.header__links-list {
	display: flex;
	justify-content: start;
	gap: 32px;
	font-weight: 405;
	font-size: 18px;
	line-height: 21.13px;
	text-underline-offset: 4px;
	padding-bottom: 3px;
}

.header__links-list-item {
	list-style: circle;
	text-decoration: underline;
}

.header__links-list-item_no-bullit {
	list-style: none;
}

.header__logo {
	display: block;
	padding-top: 3px;
}

.header__logo-image {
	width: 148px;
	height: 105px;
}

.header__address {
	font-size: 18px;
	line-height: 24.3px;
	font-style: normal;
	text-underline-offset: 4px;
}

.address {
	justify-self: end;
	padding-right: 37px;
	padding-bottom: 2px;
}

/* Секция Cover */
.cover {
	margin-bottom: 180px;
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.cover__title {
	padding: 165px 50px 106px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 100px;
	line-height: 115px;
	position: relative;
	z-index: 2;
}

.aligned-text_center {
	display: block;
	text-align: center;
	padding-left: 30px;
	padding-top: 20px;
}

.aligned-text_right {
	display: block;
	text-align: right;
	padding-top: 20px;
}

.letter-spacing-extended {
	letter-spacing: 0.3em;
}

.no-letter-spacing {
	letter-spacing: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.cover__description {
	padding: 0 50px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

.cover__description-text {
	color: #ffffff;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	padding-top: 1px;
	word-spacing: 18.5px;
}

.bet-button {
	color: #ffffff;
	font-weight: 500;
	font-size: 22px;
	line-height: 25.83px;
	background-color: transparent;
	padding: 12px 32px 11px 31px;
	border: thin solid #ffffff;
	text-transform: uppercase;
}

/* Секция lots */
.lots {
	margin-bottom: 120px;
	padding-left: 24px;
	padding-right: 24px;
	position: relative;
}

.lots__heading {
	font-weight: 700;
	font-size: 40px;
	line-height: 46.96px;
	text-transform: uppercase;
	padding: 0 891px 27px 40px;
}

.lots__card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lots__card-list-item {
	width: 334px;
	min-height: 596px;
	list-style: none;
	position: relative;
}

.card {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100%;
}

.card-link {
	height: 100%;
}

.card__title {
	color: #ffffff;
	font-weight: 700;
	font-size: 22px;
	line-height: 26.4px;
	text-decoration: underline solid;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	padding: 48px 40px 0;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
	background-size: cover;
	background-position: center;
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
	background-size: cover;
	background-position: center;
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
	background-size: cover;
	background-position: center;
}

.card__text {
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	z-index: 2;
	padding: 0 40px 48px;
}

.lots__look-more-link {
	display: block;
	font-weight: 400;
	font-size: 20px;
	line-height: 23.48px;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	padding: 30px 820px 0px 40px;
}

.about {
	display: grid;
	grid-template-columns: 240px 1fr;
	gap: 117.52px;
	margin-bottom: 180px;
	padding-left: 24px;
	padding-right: 24px;
}

.about > :nth-child(1) {
	padding: 35px 0 320px 47px;
}

.about > :nth-child(2) {
	padding: 133px 0 13px;
}

.about__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	width: 240px;
	height: 240px;
	border-radius: 50%;
}

.about__logo-image {
	width: 148px;
	height: 114px;
}

.about__title {
	padding: 3px 402px 100px 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 46.96px;
	text-transform: uppercase;
}

.about__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.about__text + .about__text {
	padding-top: 24px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 50px 82px;
}

.footer__address {
	font-weight: 400;
	font-size: 18px;
	line-height: 24.3px;
	text-underline-offset: 4px;
	font-style: normal;
}

.footer__menu {
	justify-self: center;
}

.footer__menu-list-item {
	font-weight: 400;
	font-size: 18px;
	line-height: 21.13px;
	list-style: none;
	text-align: center;
	text-underline-offset: 4px;
}

.footer__menu-link {
	text-decoration: underline;
}

.footer__menu-link_active {
	text-decoration: none;
}

.footer__social-list {
	display: flex;
	justify-content: end;
	list-style: none;
}

.footer__social-list-item {
	width: 48px;
	height: 48px;
	margin-left: 48px;
}

.footer__social-list-item:last-child {
	margin-right: 0;
}
